body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;   
}

.topNav{
    overflow: hidden;
    background-color: #333;
}

.topNav a{
    float: left;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topNavRight {
    float: right;
}

.topNav a:hover {
    background-color: #ddd;
    color: black;
}

.topNav a.active {
    background-color: #00a1a4;
    color: white;
}

header img {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
    padding-top: 0em;
    opacity: 1;
    border-radius: 0px;
}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #333;
    text-align: justify;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.text {
    padding-left: 2em;
    padding-right: 2em;
}


 .container{
    position: relative;
    width: 50%;
 }

 .image{
    display: block;
    width: 100%;
    height: auto;

 }

 .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #00a1a4;
}

.container:hover .overlay{
    opacity: 1;
}

.overlayText{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}





.container2{
    position: relative;
    width: 50%;
 }

 .image2{
    display: block;
    width: 100%;
    height: auto;
 }

 .overlay2{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #333;
}

.container2:hover .overlay2{
    opacity: 1;
}

.overlayText2{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
}

.button {
    background-color: #00a1a4; /* Green */
    border: none;
    font-size: 16px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }

